<style type="text/css" media="all">
.ui-widget-header {
  text-align: center;
}
#computer_footer_td {
  text-align: left;
}
.result {
  line-height: 34px;
  float: right;
}
</style>
<div class="col-md-6">
  <table id='computer' class='table table-striped'></table>
  <div class='actions'>
    <a class='btn btn-primary' id='append'>新增</a>
    <a class='btn btn-warning' id='compute-result'>计算结果</a>
    <span class='result'>结果为：<strong>0.00</strong>￥</span>
  </div>
</div>
