@import "bootstrap";
@import "jquery.ui.core";
@import "jquery.appendGrid";
@import "select2";
@import "select2-bootstrap";

.action { margin-left: 2px; margin-right: 2px; }
.action-danger { color: $brand-danger; &:hover { color: $brand-danger; } }
.action-info { color: $brand-info; &:hover { color: $brand-info; } }

.required abbr { color: $brand-danger; }

.ui-widget-content input {
  @extend .form-control;
}
.insert, .remove, .append {
  margin: 0 5px;
  cursor: pointer;
}

.login {
  width: 375px;
  margin: 0 auto;
  .flash {
    color: #a94442;
    padding: 1em 1em 0;
  }
  input[type='submit'] {
    width: 100%;
    margin-top: 1em;
  }
}

.ui-widget-header {
  text-align: center;
}
#computer_footer_td {
  text-align: left;
}
.result {
  line-height: 34px;
  float: right;
}
